
*.xml
*.x
*.MF
*.len
*.lock
*.log
*.dll
*.storageRecordIndex
*.storageRecordIndex
*.name_inputs
*.ver
*.storage
*.jar
*.2
*.storageData
*.at
*.storage_i
*.dat
*.project
*.names
*.KotlinPackageSourcesMemberNamesIndex_inputs
*.names_i
*.keystream
*.s
*.KotlinMetadataFilePackageIndex_inputs
*.KotlinJavaScriptMetaFileIndex_inputs
*.values
*.KotlinJvmModuleAnnotationsIndex_inputs
*.KotlinClassFileIndex_inputs
*.KotlinJsMetadataVersionIndex_inputs
*.KotlinModuleMappingIndex_inputs
*.KotlinMetadataFileIndex_inputs
*.KotlinNativeMetaFileIndex_inputs
*.component_inputs
*.KotlinJvmMetadataVersionIndex_inputs
*.expression_inputs
*.argument_inputs
*.property_inputs
*.property_inputs
*.enum
*.config
*.config
*.index_inputs
*.hierarchy_inputs
*.methods_inputs
*.dat_i
*.etag
*.class
*.class
*.zip
*.gradle
*.fields_inputs
AutoTestPlugin/build/*.*
AutoTestPlugin/build/idea-sandbox/system/resource_folder_cache/cache_version
AutoTestPlugin/build/idea-sandbox/system/index/xsltsymbolindex/XsltSymbolIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/xmltagnames/XmlTagNames_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/xmltagnames/XmlTagNames_inputs
AutoTestPlugin/build/idea-sandbox/system/index/xmlproperties/xmlProperties_inputs
AutoTestPlugin/build/idea-sandbox/system/index/xmlnamespaces/XmlNamespaces_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/xmlnamespaces/XmlNamespaces_inputs
AutoTestPlugin/build/idea-sandbox/system/index/trigram.index/fileIdToHashId_i
AutoTestPlugin/build/idea-sandbox/system/index/trigram.index/fileIdToHashId
AutoTestPlugin/build/idea-sandbox/system/index/todoindex/fileIdToHashId_i
AutoTestPlugin/build/idea-sandbox/system/index/todoindex/fileIdToHashId
AutoTestPlugin/build/idea-sandbox/system/index/stubs/Stubs_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/stubs/Stubs_inputs
AutoTestPlugin/build/idea-sandbox/system/index/stubs/.fileTypes/indexed_filetypes
AutoTestPlugin/build/idea-sandbox/system/index/schematypeinheritance/SchemaTypeInheritance_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/schematypeinheritance/SchemaTypeInheritance_inputs
AutoTestPlugin/build/idea-sandbox/system/index/relaxsymbolindex/RelaxSymbolIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/registered
AutoTestPlugin/build/idea-sandbox/system/index/refqueueindex/RefQueueIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/javafxcontrollerclassindex/JavaFxControllerClassIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/imagefileinfoindex/ImageFileInfoIndex_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/imagefileinfoindex/ImageFileInfoIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/idindex/fileIdToHashId_i
AutoTestPlugin/build/idea-sandbox/system/index/idindex/fileIdToHashId
AutoTestPlugin/build/idea-sandbox/system/index/ideapluginregistrationindex/IdeaPluginRegistrationIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/groovydslfileindex/GroovyDslFileIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/frameworkdetectionindex/FrameworkDetectionIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/formclassindex/FormClassIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/filetypes/filetypes_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/filetypes/filetypes_inputs
AutoTestPlugin/build/idea-sandbox/system/index/filenameindex/FilenameIndex_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/filenameindex/FilenameIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/fileincludes/fileIncludes_inputs
AutoTestPlugin/build/idea-sandbox/system/index/domfileindex/DomFileIndex_inputs_i
AutoTestPlugin/build/idea-sandbox/system/index/domfileindex/DomFileIndex_inputs
AutoTestPlugin/build/idea-sandbox/system/index/bytecodeanalysis/fileIdToHashId_i
AutoTestPlugin/build/idea-sandbox/system/index/bytecodeanalysis/fileIdToHashId
AutoTestPlugin/build/idea-sandbox/system/index/ant-imports/ant-imports_inputs
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/trigram.index/values_i
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/trigram.index/values
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/todoindex/values_i
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/todoindex/values
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/idindex/values_i
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/idindex/values
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/hashesWithFileType_i
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/hashesWithFileType
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/bytecodeanalysis/values_i
AutoTestPlugin/build/idea-sandbox/system/index/.persistent/bytecodeanalysis/values
AutoTestPlugin/build/idea-sandbox/system/frameworks/detection/untitled9.4c270d0a/files
AutoTestPlugin/build/idea-sandbox/system/compile-server/untitled9_b49eeed3/ustamp
AutoTestPlugin/build/idea-sandbox/system/compile-server/untitled9_b49eeed3/stale_outputs_checked
AutoTestPlugin/build/idea-sandbox/system/.home
AutoTestPlugin/.idea/.name
